header{
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#quiz-container {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#answers {
    list-style-type: none;
    padding: 0;
}

#answers li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

#answers li:hover {
    background-color: #f0f0f0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#submit-btn{
	background-color: rgb(0, 207, 0);
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}