header{
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#quiz-container {
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align all elements inside the quiz container */
}

#answers {
    list-style-type: none;
    padding: 0;
    width: 60%;
}

#answers li {
    width: 100%; /* Width adjusts with the container */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; /* Center text inside the answer box */
}

#answers li:hover {
    background-color: #f0f0f0;
}

#answers li:active{
    background-color: #f0f0f051;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 150px; /* Fixed width for all buttons */
    text-align: center; /* Center the text inside the button */
}

#submit-btn{
	background-color: rgb(0, 207, 0);
}

#prev-btn{
    width: 100px;
}

#next-btn{
    width:100px;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.selected-answer {
    background-color: #d0d0d061; /* Darker background for selected answer */
}